# Azure Foundry Project
PROJECT_ENDPOINT=https://ai-account-worwjaulcylli.services.ai.azure.com/api/projects/ai-project-maybank-kb-agent

# Model
MODEL_DEPLOYMENT_NAME=gpt-4o-mini

# Azure AI Search
SEARCH_CONNECTION_NAME=maybank-kb-search-connection
SEARCH_INDEX_NAME=kb-articles-index

# Azure OpenAI (for embedding generation during ingestion)
AZURE_OPENAI_ENDPOINT=https://ai-account-worwjaulcylli.openai.azure.com/
EMBEDDING_DEPLOYMENT_NAME=text-embedding-ada-002

# Agent
AGENT_NAME=maybank-kb-agent
